#walrus-showing {
  display: none;
}

#test-showing {
  display: none;
}
.walrusclick {
  cursor: pointer;
  color: #0088cc;
}

.walrusclick:hover {
  text-decoration: underline;
}

.walrusclick2 {
  cursor: pointer;
  color: #0088cc;
}

.walrusclick2:hover {
  text-decoration: underline;
}
